---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProductList from '../components/ProductList.svelte';
import { GET_PRODUCTS } from '../api/elephantsql.ts';
Astro.params.limit = "5";
let response = await GET_PRODUCTS(Astro);
console.log('response', response);
const { products } = await response.json();
---

<Layout title="Ecommerce Site">
	<main>
		<Header />
		<ProductList {products} client:load/>
	</main>
</Layout>

<style>
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>