---
import CallToAction from "./CallToAction.astro";

---

<header>
    <h1>Ecommerce Site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ad sit maiores porro dolorum omnis officia magni est beatae provident.</p>
    <CallToAction href="#" text="Signup"/>
    <CallToAction href="#" text="Our Products" />
</header>

<style>
    header {
        min-height: 50vh;
        min-height: 50svh;
    }
</style>